# 実行環境の作成

## Google Cloud Storage

下記コードでGCPに接続

In [1]:
from google.colab import auth
auth.authenticate_user()

認証に成功したらgcsfuseをインストール

In [2]:
!echo "deb http://packages.cloud.google.com/apt gcsfuse-`lsb_release -c -s` main" | sudo tee /etc/apt/sources.list.d/gcsfuse.list
!curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
!apt-get -y -q update
!apt-get -y -q install gcsfuse

deb http://packages.cloud.google.com/apt gcsfuse-bionic main
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  2537  100  2537    0     0  31712      0 --:--:-- --:--:-- --:--:-- 31712
OK
Get:1 http://packages.cloud.google.com/apt gcsfuse-bionic InRelease [5,391 B]
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:7 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:9 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:10 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Fetched 5,391 B in 3s (1,850 B/s)
Reading package lists...
Reading package lists...
Building dependency tree...
Reading state information...
gcsfuse is already the newest version (0.41.6).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 56 not upgraded.

バケット「statistics-hyogo」をディレクトリ「statistics-hyogo」にマウント

In [3]:
! mkdir -p statistics-hyogo
! gcsfuse --implicit-dirs --limit-bytes-per-sec -1 --limit-ops-per-sec -1 statistics-hyogo statistics-hyogo

2022/09/14 05:06:27.295495 Start gcsfuse/0.41.6 (Go version go1.18.4) for app "" using mount point: /content/statistics-hyogo
2022/09/14 05:06:27.358536 Opening GCS connection...
2022/09/14 05:06:27.782657 Mounting file system "statistics-hyogo"...
2022/09/14 05:06:27.792962 File system has been successfully mounted.

## Google Secret Maneger

ライブラリをインストール

In [ ]:
pip install google-cloud-secret-manager

シークレットを呼び出す関数

In [5]:
from google.cloud import secretmanager

def access_secret(project_id, secret_name, version='latest'):
    client = secretmanager.SecretManagerServiceClient()
    name = client.secret_version_path(project_id, secret_name, version)
    response = client.access_secret_version(request={"name":name})
    payload = response.payload.data.decode("UTF-8")
    return payload

ESTAT_APPIDを取得する

In [6]:
PROJECT_ID = 'primal-buttress-342908'
ESTAT_APPID = access_secret(PROJECT_ID,'ESTAT_APPID' )
# print(ESTAT_APPID)

## pythonのライブラリ追加

In [7]:
import urllib.parse
import urllib.request
import json
import pandas as pd

# estatの統計情報を取得

統計表を指定してメタ情報を取得する

[API仕様](https://www.e-stat.go.jp/api/api-info/e-stat-manual3-0#api_2_2)

'statsDataId'に統計表コードを指定

In [8]:
statsDataId = '0000010101'

メタ情報を取得する関数を作成

In [ ]:
def get_estat_meta(statsDataId):
  # リクエストパラメータ
  p={}
  p['statsDataId'] = statsDataId
  p['appId'] = ESTAT_APPID

  url = 'http://api.e-stat.go.jp/rest/3.0/app/json/getMetaInfo?'
  url += urllib.parse.urlencode(p)

  with urllib.request.urlopen(url) as response:
    return json.loads(response.read().decode('utf-8'))

meta = get_estat_meta(statsDataId)
print(meta)

## カテゴリコード一覧

カテゴリコード'cat01'のリストを作成する関数

In [68]:
def get_estat_catefory_codes(statsDataId):
  meta= get_estat_meta(statsDataId)
 
  # CLASS_OBJ
  CLASS_OBJ = meta['GET_META_INFO']['METADATA_INF']['CLASS_INF']['CLASS_OBJ']

  # カテゴリ一覧
  categories = next((d for d in CLASS_OBJ if d['@id'] == 'cat01'), None)['CLASS']

  # カテゴリコード一覧
  catagory_codes = [d.get('@code') for d in categories]

  return catagory_codes

category_codes = get_estat_catefory_codes(statsDataId)
print(category_codes)
# print(len(category_codes))

['A1101', 'A110101', 'A110102', 'A1102', 'A110201', 'A110202', 'A1201', 'A120101', 'A120102', 'A1202', 'A120201', 'A120202', 'A1203', 'A120301', 'A120302', 'A1204', 'A120401', 'A120402', 'A1205', 'A120501', 'A120502', 'A1206', 'A120601', 'A120602', 'A1207', 'A120701', 'A120702', 'A1208', 'A120801', 'A120802', 'A1209', 'A120901', 'A120902', 'A1210', 'A121001', 'A121002', 'A1211', 'A121101', 'A121102', 'A1212', 'A121201', 'A121202', 'A1213', 'A121301', 'A121302', 'A1214', 'A121401', 'A121402', 'A1215', 'A121501', 'A121502', 'A1216', 'A121601', 'A121602', 'A1217', 'A121701', 'A121702', 'A1218', 'A121801', 'A121802', 'A1219', 'A121901', 'A121902', 'A1220', 'A122001', 'A122002', 'A1221', 'A122101', 'A122102', 'A1231', 'A1301', 'A130101', 'A130102', 'A1302', 'A130201', 'A130202', 'A1303', 'A130301', 'A130302', 'A1304', 'A130401', 'A130402', 'A1305', 'A130501', 'A130502', 'A1306', 'A130601', 'A130602', 'A1401', 'A140101', 'A140102', 'A1402', 'A140201', 'A140202', 'A1403', 'A140301', 'A140302', 'A1404', 'A140401', 'A140402', 'A1405', 'A140501', 'A140502', 'A1406', 'A140601', 'A140602', 'A1407', 'A140701', 'A140702', 'A1408', 'A140801', 'A140802', 'A1409', 'A140901', 'A140902', 'A1410', 'A141001', 'A141002', 'A1411', 'A141101', 'A141102', 'A1412', 'A141201', 'A141202', 'A1413', 'A141301', 'A141302', 'A1414', 'A141401', 'A141402', 'A1415', 'A141501', 'A141502', 'A1416', 'A141601', 'A141602', 'A1417', 'A141701', 'A141702', 'A1418', 'A141801', 'A141802', 'A1419', 'A141901', 'A141902', 'A1420', 'A142001', 'A142002', 'A1501', 'A1502', 'A150201', 'A150202', 'A1503', 'A150301', 'A150302', 'A1504', 'A150401', 'A150402', 'A1505', 'A150501', 'A150502', 'A1506', 'A150601', 'A150602', 'A1507', 'A150701', 'A150702', 'A1508', 'A150801', 'A150802', 'A1509', 'A150901', 'A150902', 'A1510', 'A151001', 'A151002', 'A1511', 'A151101', 'A151102', 'A1512', 'A151201', 'A151202', 'A1513', 'A151301', 'A151302', 'A1514', 'A151401', 'A151402', 'A1515', 'A151501', 'A151502', 'A1516', 'A151601', 'A151602', 'A1517', 'A151701', 'A151702', 'A1601001', 'A1601002', 'A1601011', 'A1601012', 'A1601021', 'A1601022', 'A1601031', 'A1601032', 'A1601041', 'A1601042', 'A1601051', 'A1601052', 'A1601061', 'A1601062', 'A1601071', 'A1601072', 'A1601081', 'A1601082', 'A1601091', 'A1601092', 'A1601101', 'A1601102', 'A1601111', 'A1601112', 'A1601121', 'A1601122', 'A1601131', 'A1601132', 'A1601141', 'A1601142', 'A1601151', 'A1601152', 'A1602001', 'A1602002', 'A1602021', 'A1602022', 'A1602031', 'A1602032', 'A1602041', 'A1602042', 'A1602051', 'A1602052', 'A1602061', 'A1602062', 'A1602071', 'A1602072', 'A1602081', 'A1602082', 'A1602091', 'A1602092', 'A1602101', 'A1602102', 'A1602111', 'A1602112', 'A1602121', 'A1602122', 'A1602131', 'A1602132', 'A1602141', 'A1602142', 'A1602151', 'A1602152', 'A1603001', 'A1603002', 'A1603031', 'A1603032', 'A1603041', 'A1603042', 'A1603051', 'A1603052', 'A1603061', 'A1603062', 'A1603071', 'A1603072', 'A1603081', 'A1603082', 'A1603091', 'A1603092', 'A1603101', 'A1603102', 'A1603111', 'A1603112', 'A1603121', 'A1603122', 'A1603131', 'A1603132', 'A1603141', 'A1603142', 'A1603151', 'A1603152', 'A1603201', 'A1603202', 'A1604001', 'A1604002', 'A1604011', 'A1604012', 'A1604021', 'A1604022', 'A1604031', 'A1604032', 'A1604041', 'A1604042', 'A1604051', 'A1604052', 'A1604061', 'A1604062', 'A1604071', 'A1604072', 'A1604081', 'A1604082', 'A1604091', 'A1604092', 'A1604101', 'A1604102', 'A1604111', 'A1604112', 'A1604121', 'A1604122', 'A1604131', 'A1604132', 'A1604141', 'A1604142', 'A1604151', 'A1604152', 'A1604201', 'A1604202', 'A1604301', 'A1604302', 'A161001', 'A1700', 'A170001', 'A170002', 'A1701', 'A170101', 'A170102', 'A1702', 'A170201', 'A170202', 'A1703', 'A170301', 'A170302', 'A1706', 'A170601', 'A170602', 'A1707', 'A170701', 'A170702', 'A1801', 'A180101', 'A180102', 'A1802', 'A191001', 'A191002', 'A191003', 'A191004', 'A191005', 'A191006', 'A2101', 'A210101', 'A210102', 'A2102', 'A2201', 'A2301', 'A3100', 'A3101', 'A310101', 'A310102', 'A310103', 'A310105', 'A3102', 'A310201', 'A3103', 'A310301', 'A3104', 'A310401', 'A310402', 'A3200', 'A3201', 'A320101', 'A320102', 'A320103', 'A320104', 'A3202', 'A3203', 'A3204', 'A4101', 'A410101', 'A410102', 'A410201', 'A410202', 'A410203', 'A410204', 'A410205', 'A410206', 'A410207', 'A410208', 'A410209', 'A4103', 'A4200', 'A420001', 'A420002', 'A4201', 'A420101', 'A420102', 'A4202', 'A420201', 'A420202', 'A4203', 'A420301', 'A420302', 'A4204', 'A420401', 'A420402', 'A4205', 'A420501', 'A420502', 'A4206', 'A420601', 'A420602', 'A4207', 'A420701', 'A420702', 'A4208', 'A420801', 'A420802', 'A4209', 'A420901', 'A420902', 'A4210', 'A421001', 'A421002', 'A4211', 'A421101', 'A421102', 'A4212', 'A421201', 'A421202', 'A4213', 'A421301', 'A421302', 'A4214', 'A421401', 'A421402', 'A4215', 'A421501', 'A421502', 'A4216', 'A421601', 'A421602', 'A4217', 'A421701', 'A421702', 'A4218', 'A421801', 'A421802', 'A4219', 'A421901', 'A421902', 'A4220', 'A422001', 'A422002', 'A4221', 'A422101', 'A422102', 'A4231', 'A423101', 'A423102', 'A424001', 'A424002', 'A4270', 'A427001', 'A4271', 'A4272', 'A4280', 'A4281', 'A4301', 'A5101', 'A510101', 'A510102', 'A5102', 'A510201', 'A510202', 'A5103', 'A510301', 'A510302', 'A5104', 'A510401', 'A510402', 'A5201', 'A520101', 'A520102', 'A5202', 'A520201', 'A520202', 'A5301', 'A6101', 'A610101', 'A610102', 'A6102', 'A610201', 'A610202', 'A6103', 'A610301', 'A610302', 'A6104', 'A610401', 'A610402', 'A6105', 'A610501', 'A610502', 'A6106', 'A610601', 'A610602', 'A6107', 'A610701', 'A610702', 'A6108', 'A7101', 'A710101', 'A710102', 'A710201', 'A710202', 'A710211', 'A7103', 'A810101', 'A810102', 'A810103', 'A810104', 'A810105', 'A8111', 'A811101', 'A811102', 'A811103', 'A811104', 'A811105', 'A8112', 'A811201', 'A811202', 'A811203', 'A811204', 'A811205', 'A8201', 'A8202', 'A8301', 'A830101', 'A830102', 'A8303', 'A830301', 'A830302', 'A8401', 'A840101', 'A840102', 'A840103', 'A840201', 'A840202', 'A840203', 'A840204', 'A840205', 'A8501', 'A850101', 'A850102', 'A850103', 'A850201', 'A850202', 'A850203', 'A850204', 'A850205', 'A9101', 'A9111', 'A9112', 'A9201']

## 地域コード一覧

地域コード'area'のリスト一覧を作成する関数

全国'00000'は除外している

In [11]:
def get_estat_area_codes(statsDataId):
  # estat-APIのメタ情報を取得
  meta= get_estat_meta(statsDataId)

  # CLASS_OBJ
  CLASS_OBJ = meta['GET_META_INFO']['METADATA_INF']['CLASS_INF']['CLASS_OBJ']

  # 地域一覧
  areas = next((d for d in CLASS_OBJ if d['@id'] == 'area'), None)['CLASS']

  # 地域コード一覧（全国'00000'は削除）
  area_codes = [d.get('@code') for d in areas]
  area_codes.remove('00000')

  return area_codes

area_codes = get_estat_area_codes(statsDataId)
print(area_codes)

['01000', '02000', '03000', '04000', '05000', '06000', '07000', '08000', '09000', '10000', '11000', '12000', '13000', '14000', '15000', '16000', '17000', '18000', '19000', '20000', '21000', '22000', '23000', '24000', '25000', '26000', '27000', '28000', '29000', '30000', '31000', '32000', '33000', '34000', '35000', '36000', '37000', '38000', '39000', '40000', '41000', '42000', '43000', '44000', '45000', '46000', '47000']

# estat-APIのデータを取得

まずは、総人口のデータを取得してみる

cat01に'A1101'を指定
areaは全都道府県を指定

リストを指定する場合はカンマ区切りの文字列に変換する

## estat-APIのデータ取得

In [69]:
params = {}

params['statsDataId'] = statsDataId
params['cdCat01'] = 'A1231'
params['cdArea']=",".join(area_codes)

# print (params)

estat-APIのデータを取得する関数を作成

In [70]:
def get_estat_data(params):
  p = params.copy()

  # appId
  p['appId'] = ESTAT_APPID
  
  # url生成
  url = 'http://api.e-stat.go.jp/rest/2.1/app/json/getStatsData?'
  url += urllib.parse.urlencode(p)

  with urllib.request.urlopen(url) as response:
    return json.loads(response.read().decode('utf-8'))

res = get_estat_data(params)
# print(res)

## pandas DataFrameに変換

estat-APIのレスポンスからVALUEを抜き出し、DataFrameに変換する

In [71]:
res = get_estat_data(params)

# VALUE
VALUE = res['GET_STATS_DATA']['STATISTICAL_DATA']['DATA_INF']['VALUE']

df_value = pd.json_normalize(VALUE)
print(df_value)

     @tab @cat01  @area       @time @unit     $
0   00001  A1231  01000  2010100000     歳  47.7
1   00001  A1231  01000  2015100000     歳  49.7
2   00001  A1231  02000  2010100000     歳  49.1
3   00001  A1231  02000  2015100000     歳  51.4
4   00001  A1231  03000  2010100000     歳  49.5
..    ...    ...    ...         ...   ...   ...
89  00001  A1231  45000  2015100000     歳  50.2
90  00001  A1231  46000  2010100000     歳  49.0
91  00001  A1231  46000  2015100000     歳  50.6
92  00001  A1231  47000  2010100000     歳  40.0
93  00001  A1231  47000  2015100000     歳  42.0

[94 rows x 6 columns]

カテゴリ情報は'CLASS_OBJ'に格納されている。

これもDataFrameに変換

In [72]:
# CLASS_INF
CLASS_OBJ = res['GET_STATS_DATA']['STATISTICAL_DATA']['CLASS_INF']['CLASS_OBJ']

categories = next((d for d in CLASS_OBJ if d['@id'] == 'cat01'), None)['CLASS']

df_categories = pd.json_normalize(categories)
print(df_categories)

   @code        @name @level @unit
0  A1231  A1231_年齢中位数      1     歳

統計表情報は'TABLE_INF'に格納されている

In [73]:
# TABLE_INF
TABLE_INF = res['GET_STATS_DATA']['STATISTICAL_DATA']['TABLE_INF']

statDataId = TABLE_INF['@id']
statDataName = TABLE_INF['STAT_NAME']['$']

print(statDataId,statDataName)

0000010101 社会・人口統計体系

estat-APIのレスポンスをひとつのDataFrameにまとめる関数を作成

In [ ]:
def conv_estat_response_to_dataframe(response):
  # CLASS_INF
  CLASS_OBJ = response['GET_STATS_DATA']['STATISTICAL_DATA']['CLASS_INF']['CLASS_OBJ']

  # TABLE_INF
  TABLE_INF = response['GET_STATS_DATA']['STATISTICAL_DATA']['TABLE_INF']

  # VALUE
  VALUE = response['GET_STATS_DATA']['STATISTICAL_DATA']['DATA_INF']['VALUE']

  # VALUEをDataFrameに変換
  df_res = pd.json_normalize(VALUE)

  # CLASS_OBJのDataFrameを結合
  for d in CLASS_OBJ :
    # DataFrameに変換 '@code','@name'だけ抽出
    df_class = pd.json_normalize(d['CLASS']) 
    df_class = df_class.copy()[['@code','@name']]

    # @codeをキー名に変更 @nameをキー名＋'_name'に変更
    key_name = '@{}'.format(d['@id'])
    df_class = df_class.rename(columns={'@code':key_name,'@name': key_name+'_name'})

    # DataFrameを結合
    df_res = pd.merge(df_res, df_class, on=key_name, how='outer')

  # 統計情報を追加
  df_res['statsDataId'] = TABLE_INF['@id']
  df_res['statsDataName'] = TABLE_INF['STAT_NAME']['$']
  
  return df_res

df_org = conv_estat_response_to_dataframe(res)
df_org

## DataFrameの整形

使い勝手が良くなるように、DataFrameを整形していく

必要な列だけ抽出する

In [18]:
df_1 = df_org[['statsDataId','statsDataName','@cat01','@cat01_name','@time','@time_name','@area','@area_name','$','@unit']]

# print(df_1)

列名を変更する

In [19]:
columns = {'@cat01':'categoryCode','@cat01_name':'categoryName','@time':'timeCode','@time_name':'timeName','@area':'areaCode','@area_name':'areaName','$':'value','@unit':'unit'}
df_1 = df_1.rename(columns=columns)

# print(df_1)

欠損値が含まれる行を削除する

In [20]:
df_1 = df_1.dropna()

# print(df_1)

categoryNameから不要な情報（categoryCode）を削除する

In [21]:
df_1['categoryName'] = df_1.apply(lambda x: x['categoryName'].replace(x['categoryCode']+'_', ''), 1)

# print(df_1)

timeCodeを4桁文字列に置換する

In [22]:
df_1['timeCode'] = df_1.apply(lambda x: x['timeCode'][:4], 1)

# print(df_1)

ここまでを関数にまとめる

In [76]:
def  format_estat_dataframe(df_arg):
  # 必要な列だけ抽出
  df_res =  df_arg[['statsDataId','statsDataName','@cat01','@cat01_name','@time','@time_name','@area','@area_name','$','@unit']]

  # 列名の変更
  columns = {'@cat01':'categoryCode','@cat01_name':'categoryName','@time':'timeCode','@time_name':'timeName','@area':'areaCode','@area_name':'areaName','$':'value','@unit':'unit'}
  df_res = df_res.rename(columns=columns)

  # 欠損データ削除
  df_res = df_res.dropna()

  # categoryNameから不要な情報（categoryCode）を削除
  df_res['categoryName'] = df_res.apply(lambda x: x['categoryName'].replace(x['categoryCode']+'_', ''), 1)

  # timeCodeを文字列4桁に置換
  df_res['timeCode'] = df_res.apply(lambda x: x['timeCode'][:4], 1)

  return df_res

df_fmt = format_estat_dataframe(df_org)
df_fmt

,statsDataId,statsDataName,categoryCode,categoryName,timeCode,timeName,areaCode,areaName,value,unit
0,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,01000,北海道,47.7,歳
1,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,02000,青森県,49.1,歳
2,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,03000,岩手県,49.5,歳
3,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,04000,宮城県,44.8,歳
4,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,05000,秋田県,52.4,歳
...,...,...,...,...,...,...,...,...,...,...
89,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,43000,熊本県,49.0,歳
90,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,44000,大分県,50.2,歳
91,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,45000,宮崎県,50.2,歳
92,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,46000,鹿児島県,50.6,歳
93,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,47000,沖縄県,42.0,歳

## 順位を付与する

年度ごとに順位を付与

In [78]:
def format_estat_dataframe_withrank(df_arg):

  # 年度リストを作成
  times = df_arg['timeCode'].tolist()
  times = list(set(times))

  # 返却するDataFrameの定義
  df_res = pd.DataFrame(index=[], columns=[])

  # 年度毎に順位を付与
  for time in times:

    # 単年度のdataを抽出
    df_time = df_arg.copy()[df_arg['timeCode'] == time]

    # valueを数値に変換して、'rank'を付与
    df_time = df_time.astype({'value': float})
    df_time['rank'] = df_time.rank(ascending=False)['value'].astype(int).astype(str)

    # 結合
    df_res = pd.concat([df_res, df_time])

  return df_res

df_last = format_estat_dataframe_withrank(df_fmt)
df_last

,statsDataId,statsDataName,categoryCode,categoryName,timeCode,timeName,areaCode,areaName,value,unit,rank
47,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,01000,北海道,49.7,歳,18
48,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,02000,青森県,51.4,歳,5
49,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,03000,岩手県,51.3,歳,6
50,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,04000,宮城県,46.7,歳,37
51,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,05000,秋田県,54.8,歳,1
...,...,...,...,...,...,...,...,...,...,...,...
42,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,43000,熊本県,47.8,歳,19
43,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,44000,大分県,48.8,歳,13
44,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,45000,宮崎県,48.6,歳,15
45,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,46000,鹿児島県,49.0,歳,10
46,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,47000,沖縄県,40.0,歳,47

## まとめ

paramsを指定してから、順位を付与したDataFrameを取得するまでを関数にまとめる

In [62]:
params = {}

params['statsDataId'] = statsDataId
params['cdCat01'] = 'A1101'
params['cdArea']=",".join(area_codes)

In [81]:
def get_estat_dataframe(params):
  # estat-APIのレスポンス取得
  res = get_estat_data(params)

  # レスポンスをDataFrameに変換
  df = conv_estat_response_to_dataframe(res)

  # DataFrameを整形
  df = format_estat_dataframe(df)

  # 順位を付与
  df = format_estat_dataframe_withrank(df)

  return df

df = get_estat_dataframe(params)
# df

In [83]:
# プロジェクトの定義
project_id='primal-buttress-342908'
dataset_id = 'primal-buttress-342908.test'
table_id='test3'

df = get_estat_dataframe(params)
# データフレームの内容をBigQueryのテーブルに追加
df.to_gbq( f'{dataset_id}.{table_id}', project_id=project_id, if_exists="append")

TypeError: ignored

# 統計表に含まれる全てのデータをDataframeに変換する

'statsDataId'で統計表を指定して、含まれる統計データを一括でDataFrameに変換する

In [64]:
statsDataId = '0000010101'

In [ ]:
def get_estat_dataframe_all(statsDataId):

  # 統計表のメタ情報を取得
  meta = get_estat_meta(statsDataId)

  # カテゴリ一覧
  category_codes = get_estat_catefory_codes(statsDataId)

  # 地域コード一覧
  area_codes = get_estat_area_codes(statsDataId)

  # 返却するDataFrameの定義
  df_res = pd.DataFrame(index=[], columns=[])

  for category_code in category_codes:
    # リクエストパラメータ生成
    params = {}
    params['statsDataId'] = statsDataId
    params['cdCat01'] = category_code
    params['cdArea']=",".join(area_codes)

    # DataFrameを取得
    print(category_code)
    df_category = get_estat_dataframe(params)

    df_res = pd.concat([df_res, df_category])

  # return df_res
  return 'test'


df = get_estat_dataframe_all(statsDataId)
# df

# 新しいセクション