# 実行環境の作成

## Google Cloud Storage

下記コードでGCPに接続

In [1]:
from google.colab import auth
auth.authenticate_user()

認証に成功したらgcsfuseをインストール

In [4]:
!echo "deb http://packages.cloud.google.com/apt gcsfuse-`lsb_release -c -s` main" | sudo tee /etc/apt/sources.list.d/gcsfuse.list
!curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
!apt-get -y -q update
!apt-get -y -q install gcsfuse

deb http://packages.cloud.google.com/apt gcsfuse-bionic main
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  2537  100  2537    0     0   123k      0 --:--:-- --:--:-- --:--:--  123k
OK
Hit:1 http://packages.cloud.google.com/apt gcsfuse-bionic InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:4 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:6 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:7 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Ign:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:10 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists...
Reading package lists...
Building dependency tree...
Reading state information...
gcsfuse is already the newest version (0.41.6).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 31 not upgraded.

バケット「statistics-hyogo」をディレクトリ「statistics-hyogo」にマウント

In [5]:
! mkdir -p statistics-hyogo
! gcsfuse --implicit-dirs --limit-bytes-per-sec -1 --limit-ops-per-sec -1 statistics-hyogo statistics-hyogo

2022/09/15 22:39:14.801853 Start gcsfuse/0.41.6 (Go version go1.18.4) for app "" using mount point: /content/statistics-hyogo
2022/09/15 22:39:14.814871 Opening GCS connection...
2022/09/15 22:39:15.769174 Mounting file system "statistics-hyogo"...
2022/09/15 22:39:15.769739 File system has been successfully mounted.

## ESTAT_APP_ID

In [6]:
ESTAT_APPID = '724e5b90772a3e9289f41a253e4e7e32438f4fff'

## pythonのライブラリ追加

In [7]:
import urllib.parse
import urllib.request
import json
import pandas as pd

# estatの統計情報を取得

'statsDataId'に統計表コードを指定

In [8]:
statsDataId = '0000010101'

メタ情報を取得する関数を作成

In [9]:
def get_estat_meta(statsDataId):
  # リクエストパラメータ
  p={}
  p['statsDataId'] = statsDataId
  p['appId'] = ESTAT_APPID

  url = 'http://api.e-stat.go.jp/rest/3.0/app/json/getMetaInfo?'
  url += urllib.parse.urlencode(p)

  with urllib.request.urlopen(url) as response:
    return json.loads(response.read().decode('utf-8'))

meta = get_estat_meta(statsDataId)
print(meta)

{'GET_META_INFO': {'RESULT': {'STATUS': 0, 'ERROR_MSG': '正常に終了しました。', 'DATE': '2022-09-16T07:39:36.090+09:00'}, 'PARAMETER': {'LANG': 'J', 'STATS_DATA_ID': '0000010101', 'DATA_FORMAT': 'J'}, 'METADATA_INF': {'TABLE_INF': {'@id': '0000010101', 'STAT_NAME': {'@code': '00200502', '$': '社会・人口統計体系'}, 'GOV_ORG': {'@code': '00200', '$': '総務省'}, 'STATISTICS_NAME': '都道府県データ 基礎データ', 'TITLE': {'@no': '0000010101', '$': 'Ａ\u3000人口・世帯'}, 'CYCLE': '年度次', 'SURVEY_DATE': 0, 'OPEN_DATE': '2022-03-04', 'SMALL_AREA': 0, 'COLLECT_AREA': '全国', 'MAIN_CATEGORY': {'@code': '99', '$': 'その他'}, 'SUB_CATEGORY': {'@code': '99', '$': 'その他'}, 'OVERALL_TOTAL_NUMBER': 500976, 'UPDATED_DATE': '2022-03-04', 'STATISTICS_NAME_SPEC': {'TABULATION_CATEGORY': '都道府県データ', 'TABULATION_SUB_CATEGORY1': '基礎データ'}, 'DESCRIPTION': {'TABULATION_CATEGORY_EXPLANATION': '社会・人口統計体系の都道府県ごとに集計したデータを提供します。'}, 'TITLE_SPEC': {'TABLE_NAME': 'Ａ\u3000人口・世帯'}}, 'CLASS_INF': {'CLASS_OBJ': [{'@id': 'tab', '@name': '観測値', 'CLASS': {'@code': '00001', '@name': '観測値', '@level': '1'}}, {'@id': 'cat01', '@name': 'Ａ\u3000人口・世帯', 'CLASS': [{'@code': 'A1101', '@name': 'A1101_総人口', '@level': '1', '@unit': '人'}, {'@code': 'A110101', '@name': 'A110101_総人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A110102', '@name': 'A110102_総人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1102', '@name': 'A1102_日本人人口', '@level': '1', '@unit': '人'}, {'@code': 'A110201', '@name': 'A110201_日本人人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A110202', '@name': 'A110202_日本人人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1201', '@name': 'A1201_0～4歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A120101', '@name': 'A120101_0～4歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A120102', '@name': 'A120102_0～4歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1202', '@name': 'A1202_5～9歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A120201', '@name': 'A120201_5～9歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A120202', '@name': 'A120202_5～9歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1203', '@name': 'A1203_10～14歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A120301', '@name': 'A120301_10～14歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A120302', '@name': 'A120302_10～14歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1204', '@name': 'A1204_15～19歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A120401', '@name': 'A120401_15～19歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A120402', '@name': 'A120402_15～19歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1205', '@name': 'A1205_20～24歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A120501', '@name': 'A120501_20～24歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A120502', '@name': 'A120502_20～24歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1206', '@name': 'A1206_25～29歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A120601', '@name': 'A120601_25～29歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A120602', '@name': 'A120602_25～29歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1207', '@name': 'A1207_30～34歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A120701', '@name': 'A120701_30～34歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A120702', '@name': 'A120702_30～34歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1208', '@name': 'A1208_35～39歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A120801', '@name': 'A120801_35～39歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A120802', '@name': 'A120802_35～39歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1209', '@name': 'A1209_40～44歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A120901', '@name': 'A120901_40～44歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A120902', '@name': 'A120902_40～44歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1210', '@name': 'A1210_45～49歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A121001', '@name': 'A121001_45～49歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A121002', '@name': 'A121002_45～49歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1211', '@name': 'A1211_50～54歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A121101', '@name': 'A121101_50～54歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A121102', '@name': 'A121102_50～54歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1212', '@name': 'A1212_55～59歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A121201', '@name': 'A121201_55～59歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A121202', '@name': 'A121202_55～59歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1213', '@name': 'A1213_60～64歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A121301', '@name': 'A121301_60～64歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A121302', '@name': 'A121302_60～64歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1214', '@name': 'A1214_65～69歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A121401', '@name': 'A121401_65～69歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A121402', '@name': 'A121402_65～69歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1215', '@name': 'A1215_70～74歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A121501', '@name': 'A121501_70～74歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A121502', '@name': 'A121502_70～74歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1216', '@name': 'A1216_75～79歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A121601', '@name': 'A121601_75～79歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A121602', '@name': 'A121602_75～79歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1217', '@name': 'A1217_80～84歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A121701', '@name': 'A121701_80～84歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A121702', '@name': 'A121702_80～84歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1218', '@name': 'A1218_85～89歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A121801', '@name': 'A121801_85～89歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A121802', '@name': 'A121802_85～89歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1219', '@name': 'A1219_90～94歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A121901', '@name': 'A121901_90～94歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A121902', '@name': 'A121902_90～94歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1220', '@name': 'A1220_95～99歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A122001', '@name': 'A122001_95～99歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A122002', '@name': 'A122002_95～99歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1221', '@name': 'A1221_100歳以上人口', '@level': '1', '@unit': '人'}, {'@code': 'A122101', '@name': 'A122101_100歳以上人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A122102', '@name': 'A122102_100歳以上人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1231', '@name': 'A1231_年齢中位数', '@level': '1', '@unit': '歳'}, {'@code': 'A1301', '@name': 'A1301_15歳未満人口', '@level': '1', '@unit': '人'}, {'@code': 'A130101', '@name': 'A130101_15歳未満人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A130102', '@name': 'A130102_15歳未満人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1302', '@name': 'A1302_15～64歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A130201', '@name': 'A130201_15～64歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A130202', '@name': 'A130202_15～64歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1303', '@name': 'A1303_65歳以上人口', '@level': '1', '@unit': '人'}, {'@code': 'A130301', '@name': 'A130301_65歳以上人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A130302', '@name': 'A130302_65歳以上人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1304', '@name': 'A1304_15歳未満人口割合', '@level': '1', '@unit': '％'}, {'@code': 'A130401', '@name': 'A130401_15歳未満人口割合（男）', '@level': '1', '@unit': '％'}, {'@code': 'A130402', '@name': 'A130402_15歳未満人口割合（女）', '@level': '1', '@unit': '％'}, {'@code': 'A1305', '@name': 'A1305_15～64歳人口割合', '@level': '1', '@unit': '％'}, {'@code': 'A130501', '@name': 'A130501_15～64歳人口割合（男）', '@level': '1', '@unit': '％'}, {'@code': 'A130502', '@name': 'A130502_15～64歳人口割合（女）', '@level': '1', '@unit': '％'}, {'@code': 'A1306', '@name': 'A1306_65歳以上人口割合', '@level': '1', '@unit': '％'}, {'@code': 'A130601', '@name': 'A130601_65歳以上人口割合（男）', '@level': '1', '@unit': '％'}, {'@code': 'A130602', '@name': 'A130602_65歳以上人口割合（女）', '@level': '1', '@unit': '％'}, {'@code': 'A1401', '@name': 'A1401_3歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A140101', '@name': 'A140101_3歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A140102', '@name': 'A140102_3歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1402', '@name': 'A1402_4歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A140201', '@name': 'A140201_4歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A140202', '@name': 'A140202_4歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1403', '@name': 'A1403_5歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A140301', '@name': 'A140301_5歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A140302', '@name': 'A140302_5歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1404', '@name': 'A1404_0～3歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A140401', '@name': 'A140401_0～3歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A140402', '@name': 'A140402_0～3歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1405', '@name': 'A1405_0～5歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A140501', '@name': 'A140501_0～5歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A140502', '@name': 'A140502_0～5歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1406', '@name': 'A1406_0～15歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A140601', '@name': 'A140601_0～15歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A140602', '@name': 'A140602_0～15歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1407', '@name': 'A1407_0～17歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A140701', '@name': 'A140701_0～17歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A140702', '@name': 'A140702_0～17歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1408', '@name': 'A1408_3～5歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A140801', '@name': 'A140801_3～5歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A140802', '@name': 'A140802_3～5歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1409', '@name': 'A1409_6～11歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A140901', '@name': 'A140901_6～11歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A140902', '@name': 'A140902_6～11歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1410', '@name': 'A1410_10～13歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A141001', '@name': 'A141001_10～13歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A141002', '@name': 'A141002_10～13歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1411', '@name': 'A1411_12～14歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A141101', '@name': 'A141101_12～14歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A141102', '@name': 'A141102_12～14歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1412', '@name': 'A1412_14～19歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A141201', '@name': 'A141201_14～19歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A141202', '@name': 'A141202_14～19歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1413', '@name': 'A1413_15～17歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A141301', '@name': 'A141301_15～17歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A141302', '@name': 'A141302_15～17歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1414', '@name': 'A1414_15歳以上人口', '@level': '1', '@unit': '人'}, {'@code': 'A141401', '@name': 'A141401_15歳以上人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A141402', '@name': 'A141402_15歳以上人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1415', '@name': 'A1415_40歳以上人口', '@level': '1', '@unit': '人'}, {'@code': 'A141501', '@name': 'A141501_40歳以上人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A141502', '@name': 'A141502_40歳以上人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1416', '@name': 'A1416_60歳以上人口', '@level': '1', '@unit': '人'}, {'@code': 'A141601', '@name': 'A141601_60歳以上人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A141602', '@name': 'A141602_60歳以上人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1417', '@name': 'A1417_70歳以上人口', '@level': '1', '@unit': '人'}, {'@code': 'A141701', '@name': 'A141701_70歳以上人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A141702', '@name': 'A141702_70歳以上人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1418', '@name': 'A1418_80歳以上人口', '@level': '1', '@unit': '人'}, {'@code': 'A141801', '@name': 'A141801_80歳以上人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A141802', '@name': 'A141802_80歳以上人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1419', '@name': 'A1419_75歳以上人口', '@level': '1', '@unit': '人'}, {'@code': 'A141901', '@name': 'A141901_75歳以上人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A141902', '@name': 'A141902_75歳以上人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1420', '@name': 'A1420_85歳以上人口', '@level': '1', '@unit': '人'}, {'@code': 'A142001', '@name': 'A142001_85歳以上人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A142002', '@name': 'A142002_85歳以上人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1501', '@name': 'A1501_－1歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A1502', '@name': 'A1502_0歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A150201', '@name': 'A150201_0歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A150202', '@name': 'A150202_0歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1503', '@name': 'A1503_1歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A150301', '@name': 'A150301_1歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A150302', '@name': 'A150302_1歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1504', '@name': 'A1504_2歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A150401', '@name': 'A150401_2歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A150402', '@name': 'A150402_2歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1505', '@name': 'A1505_6歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A150501', '@name': 'A150501_6歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A150502', '@name': 'A150502_6歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1506', '@name': 'A1506_7歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A150601', '@name': 'A150601_7歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A150602', '@name': 'A150602_7歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1507', '@name': 'A1507_8歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A150701', '@name': 'A150701_8歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A150702', '@name': 'A150702_8歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1508', '@name': 'A1508_9歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A150801', '@name': 'A150801_9歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A150802', '@name': 'A150802_9歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1509', '@name': 'A1509_10歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A150901', '@name': 'A150901_10歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A150902', '@name': 'A150902_10歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1510', '@name': 'A1510_11歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A151001', '@name': 'A151001_11歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A151002', '@name': 'A151002_11歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1511', '@name': 'A1511_12歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A151101', '@name': 'A151101_12歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A151102', '@name': 'A151102_12歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1512', '@name': 'A1512_13歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A151201', '@name': 'A151201_13歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A151202', '@name': 'A151202_13歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1513', '@name': 'A1513_14歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A151301', '@name': 'A151301_14歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A151302', '@name': 'A151302_14歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1514', '@name': 'A1514_15歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A151401', '@name': 'A151401_15歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A151402', '@name': 'A151402_15歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1515', '@name': 'A1515_16歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A151501', '@name': 'A151501_16歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A151502', '@name': 'A151502_16歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1516', '@name': 'A1516_17歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A151601', '@name': 'A151601_17歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A151602', '@name': 'A151602_17歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1517', '@name': 'A1517_18歳人口', '@level': '1', '@unit': '人'}, {'@code': 'A151701', '@name': 'A151701_18歳人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A151702', '@name': 'A151702_18歳人口（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1601001', '@name': 'A1601001_未婚人口（15歳以上）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1601002', '@name': 'A1601002_未婚人口（15歳以上）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1601011', '@name': 'A1601011_未婚人口（15～19歳）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1601012', '@name': 'A1601012_未婚人口（15～19歳）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1601021', '@name': 'A1601021_未婚人口（20～24歳）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1601022', '@name': 'A1601022_未婚人口（20～24歳）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1601031', '@name': 'A1601031_未婚人口（25～29歳）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1601032', '@name': 'A1601032_未婚人口（25～29歳）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1601041', '@name': 'A1601041_未婚人口（30～34歳）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1601042', '@name': 'A1601042_未婚人口（30～34歳）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1601051', '@name': 'A1601051_未婚人口（35～39歳）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1601052', '@name': 'A1601052_未婚人口（35～39歳）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1601061', '@name': 'A1601061_未婚人口（40～44歳）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1601062', '@name': 'A1601062_未婚人口（40～44歳）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1601071', '@name': 'A1601071_未婚人口（45～49歳）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1601072', '@name': 'A1601072_未婚人口（45～49歳）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1601081', '@name': 'A1601081_未婚人口（50～54歳）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1601082', '@name': 'A1601082_未婚人口（50～54歳）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1601091', '@name': 'A1601091_未婚人口（55～59歳）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1601092', '@name': 'A1601092_未婚人口（55～59歳）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1601101', '@name': 'A1601101_未婚人口（60～64歳）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1601102', '@name': 'A1601102_未婚人口（60～64歳）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1601111', '@name': 'A1601111_未婚人口（65～69歳）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1601112', '@name': 'A1601112_未婚人口（65～69歳）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1601121', '@name': 'A1601121_未婚人口（70～74歳）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1601122', '@name': 'A1601122_未婚人口（70～74歳）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1601131', '@name': 'A1601131_未婚人口（75～79歳）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1601132', '@name': 'A1601132_未婚人口（75～79歳）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1601141', '@name': 'A1601141_未婚人口（80～84歳）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1601142', '@name': 'A1601142_未婚人口（80～84歳）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1601151', '@name': 'A1601151_未婚人口（85歳以上）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1601152', '@name': 'A1601152_未婚人口（85歳以上）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1602001', '@name': 'A1602001_有配偶人口（15歳以上）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1602002', '@name': 'A1602002_有配偶人口（15歳以上）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1602021', '@name': 'A1602021_有配偶人口（20～24歳）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1602022', '@name': 'A1602022_有配偶人口（20～24歳）（女）', '@level': '1', '@unit': '人'}, {'@code': 'A1602031', '@name': 'A1602031_有配偶人口（25～29歳）（男）', '@level': '1', '@unit': '人'}, {'@code': 'A1602032', '@na

## DataFrameの作成

メタ情報をDataFrameに整形する

In [31]:
def get_cards_dataframe(statsDataId):
  # メタ情報の取得
  meta= get_estat_meta(statsDataId)
 
  # STAT_NAME
  STAT_NAME = meta['GET_META_INFO']['METADATA_INF']['TABLE_INF']['STAT_NAME']['$']

  # CLASS_OBJ
  CLASS_OBJ = meta['GET_META_INFO']['METADATA_INF']['CLASS_INF']['CLASS_OBJ']

  # cat01
  cat01 = next((d for d in CLASS_OBJ if d['@id'] == 'cat01'), None)['CLASS']

  # DataFrame
  df = pd.json_normalize(cat01)[['@code','@name']]
  
  # 統計表情報の追加
  df['statsDataId'] = statsDataId
  df['statsDataName'] = STAT_NAME

  # 列名の変更
  columns = {'@code':'categoryCode','@name':'categoryName'}
  df= df.rename(columns=columns)

  # categoryNameから不要な情報（categoryCode）を削除
  df['categoryName'] = df.apply(lambda x: x['categoryName'].replace(x['categoryCode']+'_', ''), 1)
  
  
  # 並べ替え
  df = df.reindex(columns=['statsDataId', 'statsDataName', 'categoryCode','categoryName'])
  
  return df


# print(len(category_codes))

In [32]:
df = get_cards_dataframe(statsDataId)
df

    statsDataId statsDataName categoryCode  categoryName
0    0000010101     社会・人口統計体系        A1101           総人口
1    0000010101     社会・人口統計体系      A110101        総人口（男）
2    0000010101     社会・人口統計体系      A110102        総人口（女）
3    0000010101     社会・人口統計体系        A1102         日本人人口
4    0000010101     社会・人口統計体系      A110201      日本人人口（男）
..          ...           ...          ...           ...
563  0000010101     社会・人口統計体系      A850205  父子世帯数（55歳以上）
564  0000010101     社会・人口統計体系        A9101          婚姻件数
565  0000010101     社会・人口統計体系        A9111  平均婚姻年齢（初婚の夫）
566  0000010101     社会・人口統計体系        A9112  平均婚姻年齢（初婚の妻）
567  0000010101     社会・人口統計体系        A9201          離婚件数

[568 rows x 4 columns]

## GoogleSpreadSheetで加工

統計カードの管理情報を SpreadSheetで管理する

前セルで作業したDataFrameをcsvでコピーするなどして作業すること


[statistics-hyogo/統計カード管理](https://docs.google.com/spreadsheets/d/1mAv2gx9khNOty_ILu3aJjJz0uoRkARzwoaG4VBUSNG4/edit#gid=0)

In [33]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## BigQueryへ保存

# estat-APIのデータを取得

まずは、総人口のデータを取得してみる

cat01に'A1101'を指定
areaは全都道府県を指定

リストを指定する場合はカンマ区切りの文字列に変換する

## estat-APIのデータ取得

In [ ]:
params = {}

params['statsDataId'] = statsDataId
params['cdCat01'] = 'A1231'
params['cdArea']=",".join(area_codes)

# print (params)

estat-APIのデータを取得する関数を作成

In [ ]:
def get_estat_data(params):
  p = params.copy()

  # appId
  p['appId'] = ESTAT_APPID
  
  # url生成
  url = 'http://api.e-stat.go.jp/rest/2.1/app/json/getStatsData?'
  url += urllib.parse.urlencode(p)

  with urllib.request.urlopen(url) as response:
    return json.loads(response.read().decode('utf-8'))

res = get_estat_data(params)
# print(res)

## pandas DataFrameに変換

estat-APIのレスポンスからVALUEを抜き出し、DataFrameに変換する

In [ ]:
res = get_estat_data(params)

# VALUE
VALUE = res['GET_STATS_DATA']['STATISTICAL_DATA']['DATA_INF']['VALUE']

df_value = pd.json_normalize(VALUE)
df_value

     @tab @cat01  @area       @time @unit     $
0   00001  A1231  01000  2010100000     歳  47.7
1   00001  A1231  01000  2015100000     歳  49.7
2   00001  A1231  02000  2010100000     歳  49.1
3   00001  A1231  02000  2015100000     歳  51.4
4   00001  A1231  03000  2010100000     歳  49.5
..    ...    ...    ...         ...   ...   ...
89  00001  A1231  45000  2015100000     歳  50.2
90  00001  A1231  46000  2010100000     歳  49.0
91  00001  A1231  46000  2015100000     歳  50.6
92  00001  A1231  47000  2010100000     歳  40.0
93  00001  A1231  47000  2015100000     歳  42.0

[94 rows x 6 columns]

カテゴリ情報は'CLASS_OBJ'に格納されている。

これもDataFrameに変換

In [ ]:
# CLASS_INF
CLASS_OBJ = res['GET_STATS_DATA']['STATISTICAL_DATA']['CLASS_INF']['CLASS_OBJ']

categories = next((d for d in CLASS_OBJ if d['@id'] == 'cat01'), None)['CLASS']

df_categories = pd.json_normalize(categories)
df_categories

統計表情報は'TABLE_INF'に格納されている

In [ ]:
# TABLE_INF
TABLE_INF = res['GET_STATS_DATA']['STATISTICAL_DATA']['TABLE_INF']

statDataId = TABLE_INF['@id']
statDataName = TABLE_INF['STAT_NAME']['$']

print(statDataId,statDataName)

estat-APIのレスポンスをひとつのDataFrameにまとめる関数を作成

In [ ]:
def conv_estat_response_to_dataframe(response):
  # CLASS_INF
  CLASS_OBJ = response['GET_STATS_DATA']['STATISTICAL_DATA']['CLASS_INF']['CLASS_OBJ']

  # TABLE_INF
  TABLE_INF = response['GET_STATS_DATA']['STATISTICAL_DATA']['TABLE_INF']

  # VALUE
  VALUE = response['GET_STATS_DATA']['STATISTICAL_DATA']['DATA_INF']['VALUE']

  # VALUEをDataFrameに変換
  df_res = pd.json_normalize(VALUE)

  # CLASS_OBJのDataFrameを結合
  for d in CLASS_OBJ :
    # DataFrameに変換 '@code','@name'だけ抽出
    df_class = pd.json_normalize(d['CLASS']) 
    df_class = df_class.copy()[['@code','@name']]

    # @codeをキー名に変更 @nameをキー名＋'_name'に変更
    key_name = '@{}'.format(d['@id'])
    df_class = df_class.rename(columns={'@code':key_name,'@name': key_name+'_name'})

    # DataFrameを結合
    df_res = pd.merge(df_res, df_class, on=key_name, how='outer')

  # 統計情報を追加
  df_res['statsDataId'] = TABLE_INF['@id']
  df_res['statsDataName'] = TABLE_INF['STAT_NAME']['$']
  
  return df_res

df_org = conv_estat_response_to_dataframe(res)
df_org

,@tab,@cat01,@area,@time,@unit,$,@tab_name,@cat01_name,@area_name,@time_name,statsDataId,statsDataName
0,00001,A1231,01000,2010100000,歳,47.7,観測値,A1231_年齢中位数,北海道,2010年度,0000010101,社会・人口統計体系
1,00001,A1231,02000,2010100000,歳,49.1,観測値,A1231_年齢中位数,青森県,2010年度,0000010101,社会・人口統計体系
2,00001,A1231,03000,2010100000,歳,49.5,観測値,A1231_年齢中位数,岩手県,2010年度,0000010101,社会・人口統計体系
3,00001,A1231,04000,2010100000,歳,44.8,観測値,A1231_年齢中位数,宮城県,2010年度,0000010101,社会・人口統計体系
4,00001,A1231,05000,2010100000,歳,52.4,観測値,A1231_年齢中位数,秋田県,2010年度,0000010101,社会・人口統計体系
...,...,...,...,...,...,...,...,...,...,...,...,...
133,NaN,NaN,NaN,2016100000,NaN,NaN,NaN,NaN,NaN,2016年度,0000010101,社会・人口統計体系
134,NaN,NaN,NaN,2017100000,NaN,NaN,NaN,NaN,NaN,2017年度,0000010101,社会・人口統計体系
135,NaN,NaN,NaN,2018100000,NaN,NaN,NaN,NaN,NaN,2018年度,0000010101,社会・人口統計体系
136,NaN,NaN,NaN,2019100000,NaN,NaN,NaN,NaN,NaN,2019年度,0000010101,社会・人口統計体系
137,NaN,NaN,NaN,2020100000,NaN,NaN,NaN,NaN,NaN,2020年度,0000010101,社会・人口統計体系

## DataFrameの整形

使い勝手が良くなるように、DataFrameを整形していく

必要な列だけ抽出する

In [ ]:
df_1 = df_org[['statsDataId','statsDataName','@cat01','@cat01_name','@time','@time_name','@area','@area_name','$','@unit']]

# print(df_1)

列名を変更する

In [ ]:
columns = {'@cat01':'categoryCode','@cat01_name':'categoryName','@time':'timeCode','@time_name':'timeName','@area':'areaCode','@area_name':'areaName','$':'value','@unit':'unit'}
df_1 = df_1.rename(columns=columns)

# print(df_1)

欠損値が含まれる行を削除する

In [ ]:
df_1 = df_1.dropna()

# print(df_1)

categoryNameから不要な情報（categoryCode）を削除する

In [ ]:
df_1['categoryName'] = df_1.apply(lambda x: x['categoryName'].replace(x['categoryCode']+'_', ''), 1)

# print(df_1)

timeCodeを4桁文字列に置換する

In [ ]:
df_1['timeCode'] = df_1.apply(lambda x: x['timeCode'][:4], 1)

# print(df_1)

ここまでを関数にまとめる

In [ ]:
def  format_estat_dataframe(df_arg):
  # 必要な列だけ抽出
  df_res =  df_arg[['statsDataId','statsDataName','@cat01','@cat01_name','@time','@time_name','@area','@area_name','$','@unit']]

  # 列名の変更
  columns = {'@cat01':'categoryCode','@cat01_name':'categoryName','@time':'timeCode','@time_name':'timeName','@area':'areaCode','@area_name':'areaName','$':'value','@unit':'unit'}
  df_res = df_res.rename(columns=columns)

  # 欠損データ削除
  df_res = df_res.dropna()

  # categoryNameから不要な情報（categoryCode）を削除
  df_res['categoryName'] = df_res.apply(lambda x: x['categoryName'].replace(x['categoryCode']+'_', ''), 1)

  # timeCodeを文字列4桁に置換
  df_res['timeCode'] = df_res.apply(lambda x: x['timeCode'][:4], 1)

  return df_res

df_fmt = format_estat_dataframe(df_org)
df_fmt

,statsDataId,statsDataName,categoryCode,categoryName,timeCode,timeName,areaCode,areaName,value,unit
0,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,01000,北海道,47.7,歳
1,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,02000,青森県,49.1,歳
2,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,03000,岩手県,49.5,歳
3,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,04000,宮城県,44.8,歳
4,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,05000,秋田県,52.4,歳
...,...,...,...,...,...,...,...,...,...,...
89,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,43000,熊本県,49.0,歳
90,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,44000,大分県,50.2,歳
91,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,45000,宮崎県,50.2,歳
92,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,46000,鹿児島県,50.6,歳
93,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,47000,沖縄県,42.0,歳

## 順位を付与する

年度ごとに順位を付与

In [ ]:
def format_estat_dataframe_withrank(df_arg):

  # 年度リストを作成
  times = df_arg['timeCode'].tolist()
  times = list(set(times))

  # 返却するDataFrameの定義
  df_res = pd.DataFrame(index=[], columns=[])

  # 年度毎に順位を付与
  for time in times:

    # 単年度のdataを抽出
    df_time = df_arg.copy()[df_arg['timeCode'] == time]

    # valueを数値に変換して、'rank'を付与
    df_time = df_time.astype({'value': float})
    df_time['rank'] = df_time.rank(ascending=False)['value'].astype(int).astype(str)

    # 結合
    df_res = pd.concat([df_res, df_time])
    df_res = df_res.astype({'value': str})

  return df_res

df_last = format_estat_dataframe_withrank(df_fmt)
df_last

,statsDataId,statsDataName,categoryCode,categoryName,timeCode,timeName,areaCode,areaName,value,unit,rank
47,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,01000,北海道,49.7,歳,18
48,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,02000,青森県,51.4,歳,5
49,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,03000,岩手県,51.3,歳,6
50,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,04000,宮城県,46.7,歳,37
51,0000010101,社会・人口統計体系,A1231,年齢中位数,2015,2015年度,05000,秋田県,54.8,歳,1
...,...,...,...,...,...,...,...,...,...,...,...
42,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,43000,熊本県,47.8,歳,19
43,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,44000,大分県,48.8,歳,13
44,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,45000,宮崎県,48.6,歳,15
45,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,46000,鹿児島県,49.0,歳,10
46,0000010101,社会・人口統計体系,A1231,年齢中位数,2010,2010年度,47000,沖縄県,40.0,歳,47

## まとめ

paramsを指定してから、順位を付与したDataFrameを取得するまでを関数にまとめる

In [ ]:
params = {}

params['statsDataId'] = statsDataId
params['cdCat01'] = 'A1101'
params['cdArea']=",".join(area_codes)

In [ ]:
def get_estat_dataframe(params):
  # estat-APIのレスポンス取得
  res = get_estat_data(params)

  # レスポンスをDataFrameに変換
  df = conv_estat_response_to_dataframe(res)

  # DataFrameを整形
  df = format_estat_dataframe(df)

  # 順位を付与
  df = format_estat_dataframe_withrank(df)

  return df

df = get_estat_dataframe(params)
df

,statsDataId,statsDataName,categoryCode,categoryName,timeCode,timeName,areaCode,areaName,value,unit,rank
1504,0000010101,社会・人口統計体系,A1101,総人口,2007,2007年度,01000,北海道,5579000.0,人,8
1505,0000010101,社会・人口統計体系,A1101,総人口,2007,2007年度,02000,青森県,1409000.0,人,29
1506,0000010101,社会・人口統計体系,A1101,総人口,2007,2007年度,03000,岩手県,1364000.0,人,32
1507,0000010101,社会・人口統計体系,A1101,総人口,2007,2007年度,04000,宮城県,2354000.0,人,15
1508,0000010101,社会・人口統計体系,A1101,総人口,2007,2007年度,05000,秋田県,1121000.0,人,37
...,...,...,...,...,...,...,...,...,...,...,...
700,0000010101,社会・人口統計体系,A1101,総人口,1989,1989年度,43000,熊本県,1841000.0,人,22
701,0000010101,社会・人口統計体系,A1101,総人口,1989,1989年度,44000,大分県,1240000.0,人,32
702,0000010101,社会・人口統計体系,A1101,総人口,1989,1989年度,45000,宮崎県,1172000.0,人,36
703,0000010101,社会・人口統計体系,A1101,総人口,1989,1989年度,46000,鹿児島県,1805000.0,人,23
704,0000010101,社会・人口統計体系,A1101,総人口,1989,1989年度,47000,沖縄県,1215000.0,人,34

In [ ]:
pip install pandas_gbq

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas_gbq in /usr/local/lib/python3.9/site-packages (0.17.8)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.9/site-packages (from pandas_gbq) (2.10.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/site-packages (from pandas_gbq) (61.2.0)
Requirement already satisfied: google-auth-oauthlib>=0.0.1 in /usr/local/lib/python3.9/site-packages (from pandas_gbq) (0.5.3)
Requirement already satisfied: google-auth>=1.25.0 in /usr/local/lib/python3.9/site-packages (from pandas_gbq) (2.11.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.9/site-packages (from pandas_gbq) (1.21.5)
Requirement already satisfied: db-dtypes<2.0.0,>=0.3.1 in /usr/local/lib/python3.9/site-packages (from pandas_gbq) (1.0.3)
Requirement already satisfied: google-cloud-bigquery-storage<3.0.0dev,>=1.1.0 in /usr/local/lib/python3.9/site-packages (from pandas_gbq) (2.15.0)
Requirement already satisfied: pyarrow<10.0dev,>=3.0.0 in /usr/local/lib/python3.9/site-packages (from pandas_gbq) (9.0.0)
Requirement already satisfied: google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2 in /usr/local/lib/python3.9/site-packages (from pandas_gbq) (3.3.2)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.9/site-packages (from pandas_gbq) (1.4.2)
Requirement already satisfied: pydata-google-auth in /usr/local/lib/python3.9/site-packages (from pandas_gbq) (1.4.0)
Requirement already satisfied: packaging>=17.0 in /usr/local/lib/python3.9/site-packages (from db-dtypes<2.0.0,>=0.3.1->pandas_gbq) (21.3)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.9/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas_gbq) (2.27.1)
Requirement already satisfied: protobuf<5.0.0dev,>=3.20.1 in /usr/local/lib/python3.9/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas_gbq) (4.21.6)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /usr/local/lib/python3.9/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas_gbq) (1.56.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.9/site-packages (from google-auth>=1.25.0->pandas_gbq) (0.2.7)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.9/site-packages (from google-auth>=1.25.0->pandas_gbq) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.9/site-packages (from google-auth>=1.25.0->pandas_gbq) (5.2.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.9/site-packages (from google-auth>=1.25.0->pandas_gbq) (1.16.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.9/site-packages (from google-auth-oauthlib>=0.0.1->pandas_gbq) (1.3.1)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.4.1 in /usr/local/lib/python3.9/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas_gbq) (2.3.2)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.0 in /usr/local/lib/python3.9/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas_gbq) (1.22.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /usr/local/lib/python3.9/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas_gbq) (2.3.3)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /usr/local/lib/python3.9/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas_gbq) (2.8.2)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /usr/local/lib/python3.9/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas_gbq) (1.48.1)
Requirement already satisfied: grpcio-status<2.0dev,>=1.33.2 in /usr/local/lib/python3.9/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas_gbq) (1.48.1)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.9/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas_gbq) (1.5.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.9/site-packages (from packaging>=17.0->db-dtypes<2.0.0,>=0.3.1->pandas_gbq) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/site-packages (from pandas>=0.24.2->pandas_gbq) (2022.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.25.0->pandas_gbq) (0.4.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas_gbq) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas_gbq) (1.26.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas_gbq) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas_gbq) (2022.9.14)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.0.1->pandas_gbq) (3.2.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
# プロジェクトの定義
project_id='primal-buttress-342908'
dataset_id = 'primal-buttress-342908.esat_api'
table_id='test3'


df = get_estat_dataframe(params)
# データフレームの内容をBigQueryのテーブルに追加
df.to_gbq( f'{dataset_id}.{table_id}', project_id=project_id, if_exists="append")

GenericGBQException: ignored

# 統計表に含まれる全てのデータをDataframeに変換する

'statsDataId'で統計表を指定して、含まれる統計データを一括でDataFrameに変換する

In [ ]:
statsDataId = '0000010101'

In [ ]:
def get_estat_dataframe_all(statsDataId):

  # 統計表のメタ情報を取得
  meta = get_estat_meta(statsDataId)

  # カテゴリ一覧
  category_codes = get_estat_catefory_codes(statsDataId)

  # 地域コード一覧
  area_codes = get_estat_area_codes(statsDataId)

  # 返却するDataFrameの定義
  df_res = pd.DataFrame(index=[], columns=[])

  for category_code in category_codes:
    # リクエストパラメータ生成
    params = {}
    params['statsDataId'] = statsDataId
    params['cdCat01'] = category_code
    params['cdArea']=",".join(area_codes)

    # DataFrameを取得
    print(category_code)
    df_category = get_estat_dataframe(params)

    df_res = pd.concat([df_res, df_category])

  # return df_res
  return 'test'


df = get_estat_dataframe_all(statsDataId)
# df

# 新しいセクション