# 事前準備

ライブラリのインストール

In [1]:
!pip install numexpr

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numexpr in /usr/local/lib/python3.7/dist-packages (2.8.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from numexpr) (21.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from numexpr) (1.21.6)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->numexpr) (3.0.9)

# 港湾統計マスタの前処理

港湾統計2021のcsvを読み込む

In [36]:
import pandas as pd
df_matster = pd.read_csv('/content/drive/MyDrive/港湾統計（兵庫県）/港湾統計マスタ_2021.csv', header=0, encoding="shift-jis",dtype=str)
df_matster

,様式,調査年,調査月,調査港,申告者,調査票,整理番号,施設,公専,船舶内外,...,車両台数入,最初港,最終港,ｴﾗｰｺｰﾄﾞ,入港日,航路名,種類,種別,長さ,個数
0,A,2021,1,201,310,1,1,2350,2,2,...,0,NaN,NaN,0,3,31,NaN,NaN,NaN,0
1,A,2021,1,202,320,1,1,1241,1,1,...,0,NaN,NaN,0,7,1,NaN,NaN,NaN,0
2,A,2021,1,202,321,1,1,2308,2,1,...,0,NaN,NaN,0,7,2,NaN,NaN,NaN,0
3,A,2021,1,202,322,1,1,2352,2,1,...,0,NaN,NaN,0,10,2,NaN,NaN,NaN,0
4,A,2021,1,202,324,1,1,1212,1,1,...,0,NaN,NaN,0,8,1,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44826,A,2021,12,14,497,6,35,2488,2,2,...,0,NaN,NaN,0,24,31,NaN,NaN,NaN,0
44827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

必要な列だけ抽出

In [17]:
# 抽出する列のリスト指定
columns = ['調査港','施設','公専','用途','船舶隻数','船舶総ﾄﾝ数','係留時間','出荷品名','出荷ﾄﾝ数','入荷品名','入荷ﾄﾝ数']

df_matster =  df_matster[columns]
df_matster

       調査港   施設   公専   用途 船舶隻数 船舶総ﾄﾝ数 係留時間 出荷品名  出荷ﾄﾝ数 入荷品名 入荷ﾄﾝ数
0        7  NaN  NaN  T71  NaN    NaN  NaN  NaN    NaN  NaN   NaN
1        7  NaN  NaN  T71  NaN    NaN  NaN  NaN    NaN  NaN   NaN
2        7  NaN  NaN  T93  NaN    NaN  NaN  NaN    NaN  NaN   NaN
3        7  NaN  NaN  T94  NaN    NaN  NaN  NaN    NaN  NaN   NaN
4        7  NaN  NaN  T96  NaN    NaN  NaN  NaN    NaN  NaN   NaN
...    ...  ...  ...  ...  ...    ...  ...  ...    ...  ...   ...
51725  NaN  NaN  NaN  NaN  NaN    NaN  NaN  NaN  船舶トン数  NaN   NaN
51726  NaN  NaN  NaN  NaN  NaN    NaN  NaN  NaN   係留時間  NaN   NaN
51727  NaN  NaN  NaN  NaN  NaN    NaN  NaN  NaN  出荷ﾄﾝ数  NaN   NaN
51728  NaN  NaN  NaN  NaN  NaN    NaN  NaN  NaN  入荷ﾄﾝ数  NaN   NaN
51729  NaN  NaN  NaN  NaN  NaN    NaN  NaN  NaN  出入貨物量  NaN   NaN

[51730 rows x 11 columns]

調査港、施設（岸壁）

In [18]:
# 抽出する港区コードのリスト指定
port_id = ['201','202','203','204','205','402','403','404','405','406']

df_matster = df_matster[df_matster['調査港'].isin(port_id)]
df_matster

       調査港    施設 公専   用途 船舶隻数 船舶総ﾄﾝ数 係留時間 出荷品名 出荷ﾄﾝ数 入荷品名 入荷ﾄﾝ数
785    202  1219  1  T71    1   4000    9  NaN   NaN  221  1000
786    202  2327  2   12  NaN    NaN    2  351   219  NaN   NaN
787    202  2327  2   12  NaN    NaN    2  NaN   NaN  NaN   NaN
788    202  2327  2   12  NaN    NaN    2  NaN   NaN  NaN   NaN
789    202  2327  2   12  NaN    NaN    1  NaN   NaN  NaN   NaN
...    ...   ... ..  ...  ...    ...  ...  ...   ...  ...   ...
51717  405  1159  1  T84  NaN    NaN    3  NaN   NaN  161  1520
51718  405  1159  1  T84  NaN    NaN    2  NaN   NaN  161  1180
51719  405  1159  1  T84  NaN    NaN    3  NaN   NaN  161  1750
51720  406  1181  1  T84  NaN    NaN    2  NaN   NaN  161  1700
51721  406  1181  1  T84  NaN    NaN    2  NaN   NaN  161  1700

[38619 rows x 11 columns]

対象施設コード

In [21]:
# 抽出する港区コードのリスト指定
shisetsu_id = ['1285','1270','1280','1275','1279','1203','1207','1222','1213','1214','1215','1219','1208','1231', \
               '1232','1241','1242','1223','1212','1220','1221','1281','1250','1289','1269','1264','1263', \
               '1262','1258','1252','1251','1254','1255','1256','1153','1152','1154','1197','1178','1179', \
               '1159','1160','1170','1171','1199','1181','1182','1195','1155','1156','1157','1158','1198']

df_matster = df_matster[df_matster['施設'].isin(shisetsu_id)]
df_matster

       調査港    施設 公専   用途 船舶隻数 船舶総ﾄﾝ数 係留時間 出荷品名 出荷ﾄﾝ数 入荷品名 入荷ﾄﾝ数
785    202  1219  1  T71    1   4000    9  NaN   NaN  221  1000
846    402  1153  1  T71  NaN    NaN    4  NaN   NaN  162   800
847    402  1153  1  T71  NaN    NaN    5  NaN   NaN  162   700
848    402  1153  1  T71  NaN    NaN    5  NaN   NaN  162   700
849    402  1153  1  T71  NaN    NaN    5  NaN   NaN  161  1252
...    ...   ... ..  ...  ...    ...  ...  ...   ...  ...   ...
51717  405  1159  1  T84  NaN    NaN    3  NaN   NaN  161  1520
51718  405  1159  1  T84  NaN    NaN    2  NaN   NaN  161  1180
51719  405  1159  1  T84  NaN    NaN    3  NaN   NaN  161  1750
51720  406  1181  1  T84  NaN    NaN    2  NaN   NaN  161  1700
51721  406  1181  1  T84  NaN    NaN    2  NaN   NaN  161  1700

[7698 rows x 11 columns]

# 取扱貨物量

In [31]:
df_cargo =  df_matster.copy()

df_cargo = df_cargo.fillna('0')

# 品名と取扱貨物量に変換
df_cargo['品名'] = df_cargo.apply(lambda x: x['出荷品名'] if x['出荷ﾄﾝ数'] != '0' else x['入荷品名'], 1)
df_cargo['取扱貨物量'] = df_cargo.apply(lambda x: x['出荷ﾄﾝ数'] if x['出荷ﾄﾝ数'] != '0' else x['入荷ﾄﾝ数'], 1)

# 必要な列だけ抽出
columns = ['調査港','施設','品名','取扱貨物量']
df_cargo = df_cargo[columns]

# 取扱貨物量の集計
df_cargo = df_cargo.astype({'取扱貨物量': 'int'})
df_cargo = df_cargo.groupby(['施設','品名']).agg({'取扱貨物量': 'sum'}).reset_index()


# 品名をマージ
df1 = pd.read_csv('/content/drive/MyDrive/港湾統計（兵庫県）/品名コード.csv', header=0, encoding="shift-jis",dtype=str)
df_res = pd.merge(df_cargo, df1, on='品名', how='outer')

# 施設名をマージ
df2 = pd.read_csv('/content/drive/MyDrive/港湾統計（兵庫県）/施設コード.csv', header=0, encoding="shift-jis",dtype=str)
df_res = pd.merge(df_res, df2, on='施設', how='right')

# 欠損値を削除
df_res.dropna(subset=['取扱貨物量'], inplace=True)

# 集計
df_res = df_res.groupby(['港名','地区名']).agg({'取扱貨物量': 'sum'}).reset_index()


# CSVに書き出し
# df_res.to_csv('取扱貨物量.csv',encoding='cp932')

df_res

     港名   地区名      取扱貨物量
0   姫路港  中島地区  1395493.0
1   姫路港  吉美地区   450163.0
2   姫路港  広畑地区    67398.0
3   姫路港  浜田地区    75392.0
4   姫路港  須賀地区   416403.0
5   姫路港  飾磨地区  1437371.0
6  東播磨港  伊保地区   182494.0
7  東播磨港  別府地区   438013.0
8  東播磨港  曽根地区   362208.0
9  東播磨港  高砂地区   591060.0

# 係留船舶

In [102]:
import numpy as np
import pandas as pd

def get_ship(path):

  # 港湾統計マスタをインポート
  df = pd.read_csv(path, header=0, encoding="shift-jis",dtype=str)
  
  # 必要な列だけ抽出
  columns = ['調査港','施設','用途','船舶隻数','隻数A','隻数B','船舶総ﾄﾝ数','総ﾄﾝ数A','総ﾄﾝ数B','係留時間']
  df = df[columns]

  # 欠損値を0に置換
  df = df.fillna('0')
  
  # 隻数のセット
  df = df.astype({'船舶隻数': 'int','隻数A': 'int','隻数B': 'int'})
  df['隻数'] = df[['船舶隻数','隻数A','隻数B']].sum(axis=1)

  # 総トン数のセット
  df = df.astype({'船舶総ﾄﾝ数': 'int','総ﾄﾝ数A': 'int','総ﾄﾝ数B': 'int'})
  df['総トン数'] = df[['船舶総ﾄﾝ数','総ﾄﾝ数A','総ﾄﾝ数B']].sum(axis=1)


  # 隻数が0の行を削除
  df['隻数'].replace(0, np.nan, inplace=True)
  df.dropna(subset=['隻数'], inplace=True)
  
  # 船舶総ﾄﾝ数・係留時間は平均、船舶隻数は合計
  # df = df.astype({'船舶総ﾄﾝ数': 'int','係留時間': 'int','船舶隻数': 'int'})
  # df = df.groupby(['施設','用途']).agg({'船舶総ﾄﾝ数': 'mean','係留時間': 'mean','船舶隻数': 'sum'}).reset_index()
  
  # 用途のtをTに変換
  df = df.replace('t71', 'T71')
  df = df.replace('t85', 'T85')
  
  # 船種をマージ
  df1 = pd.read_csv('/content/drive/MyDrive/港湾統計（兵庫県）/用途コード.csv', header=0, encoding="shift-jis",dtype=str)
  df = pd.merge(df, df1, on='用途', how='left')
  
  # 施設名をマージ
  df2 = pd.read_csv('/content/drive/MyDrive/港湾統計（兵庫県）/施設コード.csv', header=0, encoding="shift-jis",dtype=str)
  df = pd.merge(df, df2, on='施設', how='right')
  
  # # 欠損値を除外
  # df =  df.dropna(subset=['船舶隻数'])

  # 集計
  df = df.groupby(['港名','地区名','船種']).agg({'船舶隻数': 'sum', '係留時間': 'mean', '総トン数': 'mean'}).reset_index()


  return df

In [103]:
path = '/content/drive/MyDrive/港湾統計（兵庫県）/港湾統計マスタ_2021.csv'

df = get_ship(path)

df = df.append(df.sum(numeric_only=True), ignore_index=True)
df

      港名   地区名            船種    船舶隻数           係留時間          総トン数
0    姫路港  中島地区        その他の船舶     0.0   9.246690e+14     19.000000
1    姫路港  中島地区         セメント船    38.0   1.114585e+47    748.605263
2    姫路港  中島地区         一般貨物船   134.0            inf    956.079958
3    姫路港  中島地区         曳船・押船     0.0   1.568417e+71     16.015873
4    姫路港  中島地区      砂利・砂・石材船     0.0   7.719586e+56    478.050847
5    姫路港  吉美地区         一般貨物船    31.0            inf    287.568182
6    姫路港  広畑地区         一般貨物船    23.0   3.039886e+91   1954.841270
7    姫路港  浜田地区        その他の船舶    47.0   2.426749e+77    987.428571
8    姫路港  浜田地区         セメント船     0.0   4.232804e+19    249.380952
9    姫路港  浜田地区  プロダクトオイルタンカー    20.0   2.845876e+19   1675.450000
10   姫路港  浜田地区         一般貨物船    11.0  2.187986e+251    268.117155
11   姫路港  浜田地区         曳船・押船     3.0   6.845221e+70    102.590909
12   姫路港  須賀地区      砂利・砂・石材船     0.0            inf    491.254777
13   姫路港  飾磨地区        その他の船舶     0.0   5.302592e+23     19.000000
14   姫路港  飾磨地区         セメント船   361.0            inf    959.804408
15   姫路港  飾磨地区         一般貨物船   425.0            inf   1664.559066
16   姫路港  飾磨地区            客船     0.0   0.000000e+00    166.164822
17   姫路港  飾磨地区         曳船・押船     1.0            inf    226.725092
18   姫路港  飾磨地区      砂利・砂・石材船     0.0   5.212143e+08    490.100000
19   姫路港  飾磨地区           穀物船     0.0  2.525245e+166    264.303030
20   姫路港  飾磨地区        自動車専用船     0.0            inf     65.426434
21   姫路港  飾磨地区         ＲＯＲＯ船     0.0            inf     96.864979
22  東播磨港  伊保地区      砂利・砂・石材船     1.0  2.334951e+135    457.869565
23  東播磨港  別府地区         一般貨物船     1.0  1.980190e+126    464.434109
24  東播磨港  別府地区      砂利・砂・石材船     0.0  1.106578e+201    482.502488
25  東播磨港  曽根地区         一般貨物船     0.0   2.200000e+01    499.000000
26  東播磨港  曽根地区         曳船・押船     2.0   1.111100e+04   1073.400000
27  東播磨港  曽根地区      砂利・砂・石材船    36.0  5.354406e+230    507.875000
28  東播磨港  高砂地区         セメント船    97.0   6.387274e+97    717.701031
29  東播磨港  高砂地区         曳船・押船    45.0   9.380495e+72    502.000000
30  東播磨港  高砂地区      砂利・砂・石材船   104.0            inf    531.794798
31   NaN   NaN           NaN  1380.0            inf  17423.908579