# 事前準備

ライブラリのインストール

In [1]:
!pip install numexpr

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numexpr in /usr/local/lib/python3.7/dist-packages (2.8.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from numexpr) (21.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from numexpr) (1.21.6)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->numexpr) (3.0.9)

# 港湾統計マスタの前処理

港湾統計2021のcsvを読み込む

In [16]:
import pandas as pd
df_matster = pd.read_csv('/content/drive/MyDrive/港湾統計（兵庫県）/港湾統計マスタ_2013.csv', header=0, encoding="shift-jis",dtype=str)
df_matster

,様式,調査年,調査月,調査港,申告者,調査票,整理番号,施設,公専,船舶内外,...,車両台数入,最初港,最終港,ｴﾗｰｺｰﾄﾞ,入港日,航路名,種類,種別,長さ,個数
0,B,2013,13,7,122,1,1,NaN,NaN,2,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
1,B,2013,13,7,122,1,2,NaN,NaN,1,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
2,B,2013,13,7,122,1,3,NaN,NaN,1,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
3,B,2013,13,7,122,1,4,NaN,NaN,1,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
4,B,2013,13,7,122,1,5,NaN,NaN,1,...,NaN,NaN,NaN,0,NaN,41,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

必要な列だけ抽出

In [17]:
# 抽出する列のリスト指定
columns = ['調査港','施設','公専','用途','船舶隻数','船舶総ﾄﾝ数','係留時間','出荷品名','出荷ﾄﾝ数','入荷品名','入荷ﾄﾝ数']

df_matster =  df_matster[columns]
df_matster

       調査港   施設   公専   用途 船舶隻数 船舶総ﾄﾝ数 係留時間 出荷品名  出荷ﾄﾝ数 入荷品名 入荷ﾄﾝ数
0        7  NaN  NaN  T71  NaN    NaN  NaN  NaN    NaN  NaN   NaN
1        7  NaN  NaN  T71  NaN    NaN  NaN  NaN    NaN  NaN   NaN
2        7  NaN  NaN  T93  NaN    NaN  NaN  NaN    NaN  NaN   NaN
3        7  NaN  NaN  T94  NaN    NaN  NaN  NaN    NaN  NaN   NaN
4        7  NaN  NaN  T96  NaN    NaN  NaN  NaN    NaN  NaN   NaN
...    ...  ...  ...  ...  ...    ...  ...  ...    ...  ...   ...
51725  NaN  NaN  NaN  NaN  NaN    NaN  NaN  NaN  船舶トン数  NaN   NaN
51726  NaN  NaN  NaN  NaN  NaN    NaN  NaN  NaN   係留時間  NaN   NaN
51727  NaN  NaN  NaN  NaN  NaN    NaN  NaN  NaN  出荷ﾄﾝ数  NaN   NaN
51728  NaN  NaN  NaN  NaN  NaN    NaN  NaN  NaN  入荷ﾄﾝ数  NaN   NaN
51729  NaN  NaN  NaN  NaN  NaN    NaN  NaN  NaN  出入貨物量  NaN   NaN

[51730 rows x 11 columns]

調査港、施設（岸壁）

In [18]:
# 抽出する港区コードのリスト指定
port_id = ['201','202','203','204','205','402','403','404','405','406']

df_matster = df_matster[df_matster['調査港'].isin(port_id)]
df_matster

       調査港    施設 公専   用途 船舶隻数 船舶総ﾄﾝ数 係留時間 出荷品名 出荷ﾄﾝ数 入荷品名 入荷ﾄﾝ数
785    202  1219  1  T71    1   4000    9  NaN   NaN  221  1000
786    202  2327  2   12  NaN    NaN    2  351   219  NaN   NaN
787    202  2327  2   12  NaN    NaN    2  NaN   NaN  NaN   NaN
788    202  2327  2   12  NaN    NaN    2  NaN   NaN  NaN   NaN
789    202  2327  2   12  NaN    NaN    1  NaN   NaN  NaN   NaN
...    ...   ... ..  ...  ...    ...  ...  ...   ...  ...   ...
51717  405  1159  1  T84  NaN    NaN    3  NaN   NaN  161  1520
51718  405  1159  1  T84  NaN    NaN    2  NaN   NaN  161  1180
51719  405  1159  1  T84  NaN    NaN    3  NaN   NaN  161  1750
51720  406  1181  1  T84  NaN    NaN    2  NaN   NaN  161  1700
51721  406  1181  1  T84  NaN    NaN    2  NaN   NaN  161  1700

[38619 rows x 11 columns]

対象施設コード

In [21]:
# 抽出する港区コードのリスト指定
shisetsu_id = ['1285','1270','1280','1275','1279','1203','1207','1222','1213','1214','1215','1219','1208','1231', \
               '1232','1241','1242','1223','1212','1220','1221','1281','1250','1289','1269','1264','1263', \
               '1262','1258','1252','1251','1254','1255','1256','1153','1152','1154','1197','1178','1179', \
               '1159','1160','1170','1171','1199','1181','1182','1195','1155','1156','1157','1158','1198']

df_matster = df_matster[df_matster['施設'].isin(shisetsu_id)]
df_matster

       調査港    施設 公専   用途 船舶隻数 船舶総ﾄﾝ数 係留時間 出荷品名 出荷ﾄﾝ数 入荷品名 入荷ﾄﾝ数
785    202  1219  1  T71    1   4000    9  NaN   NaN  221  1000
846    402  1153  1  T71  NaN    NaN    4  NaN   NaN  162   800
847    402  1153  1  T71  NaN    NaN    5  NaN   NaN  162   700
848    402  1153  1  T71  NaN    NaN    5  NaN   NaN  162   700
849    402  1153  1  T71  NaN    NaN    5  NaN   NaN  161  1252
...    ...   ... ..  ...  ...    ...  ...  ...   ...  ...   ...
51717  405  1159  1  T84  NaN    NaN    3  NaN   NaN  161  1520
51718  405  1159  1  T84  NaN    NaN    2  NaN   NaN  161  1180
51719  405  1159  1  T84  NaN    NaN    3  NaN   NaN  161  1750
51720  406  1181  1  T84  NaN    NaN    2  NaN   NaN  161  1700
51721  406  1181  1  T84  NaN    NaN    2  NaN   NaN  161  1700

[7698 rows x 11 columns]

# 取扱貨物量

In [28]:
df_cargo =  df_matster.copy()

df_cargo = df_cargo.fillna('0')

# 品名と取扱貨物量に変換
df_cargo['品名'] = df_cargo.apply(lambda x: x['出荷品名'] if x['出荷ﾄﾝ数'] != '0' else x['入荷品名'], 1)
df_cargo['取扱貨物量'] = df_cargo.apply(lambda x: x['出荷ﾄﾝ数'] if x['出荷ﾄﾝ数'] != '0' else x['入荷ﾄﾝ数'], 1)

# 必要な列だけ抽出
columns = ['調査港','施設','品名','取扱貨物量']
df_cargo = df_cargo[columns]

# 取扱貨物量の集計
df_cargo = df_cargo.astype({'取扱貨物量': 'int'})
df_cargo = df_cargo.groupby(['施設','品名']).agg({'取扱貨物量': 'sum'}).reset_index()


# 品名をマージ
df1 = pd.read_csv('/content/drive/MyDrive/港湾統計（兵庫県）/品名コード.csv', header=0, encoding="shift-jis",dtype=str)
df_res = pd.merge(df_cargo, df1, on='品名', how='outer')

# 施設名をマージ
df2 = pd.read_csv('/content/drive/MyDrive/港湾統計（兵庫県）/施設コード.csv', header=0, encoding="shift-jis",dtype=str)
df_res = pd.merge(df_res, df2, on='施設', how='right')

# 欠損値を削除
df_res.dropna(subset=['取扱貨物量'], inplace=True)

# 集計
df_res = df_res.groupby(['港名','地区名']).agg({'取扱貨物量': 'sum'}).reset_index()


# CSVに書き出し
# df_res.to_csv('取扱貨物量.csv',encoding='cp932')

df_res

      港名   地区名      取扱貨物量
0    姫路港  中島地区  1008884.0
1    姫路港  吉美地区   758485.0
2    姫路港  広畑地区    47183.0
3    姫路港  浜田地区    83934.0
4    姫路港  網干地区       63.0
5    姫路港  須賀地区   282725.0
6    姫路港  飾磨地区  1923568.0
7   東播磨港  伊保地区   126897.0
8   東播磨港  別府地区   237310.0
9   東播磨港  曽根地区   120160.0
10  東播磨港  高砂地区   803910.0

# 係留船舶

In [ ]:
import numpy as np

df_ship =  df_matster.copy()

# 必要な列だけ抽出
columns = ['調査港','施設','用途','船舶隻数','船舶総ﾄﾝ数','係留時間']
df_ship = df_ship[columns]

# 欠損値があるので、全てに'1'をセット
df_ship['船舶隻数'] = '1'

# 船舶総ﾄﾝ数が0の行を削除
df_ship['船舶総ﾄﾝ数'].replace('0', np.nan, inplace=True)
df_ship.dropna(subset=['船舶総ﾄﾝ数'], inplace=True)

# 船舶総ﾄﾝ数・係留時間は平均、船舶隻数は合計
df_ship = df_ship.astype({'船舶総ﾄﾝ数': 'int','係留時間': 'int','船舶隻数': 'int'})
df_ship = df_ship.groupby(['施設','用途']).agg({'船舶総ﾄﾝ数': 'mean','係留時間': 'mean','船舶隻数': 'sum'}).reset_index()

# 用途のtをTに変換
df_ship = df_ship.replace('t71', 'T71')
df_ship = df_ship.replace('t85', 'T85')

# 船種をマージ
df1 = pd.read_csv('用途コード.csv', header=0, encoding="shift-jis",dtype=str)
df_res = pd.merge(df_ship, df1, on='用途', how='left')

# 施設名をマージ
df2 = pd.read_csv('施設コード.csv', header=0, encoding="shift-jis",dtype=str)
df_res = pd.merge(df_res, df2, on='施設', how='left')

# CSVに書き出し
df_res.to_csv('係留船舶.csv',encoding='cp932')

df_res

,施設,用途,船舶総ﾄﾝ数,係留時間,船舶隻数,船種,施設名,地区名,港名
0,1153,T71,798.000000,4.000000,1,一般貨物船,別府公共物揚場\n（砂揚場）(-4.0m),別府港区,東播磨港
1,1156,T84,688.778846,6.144231,104,砂利・砂・石材船,高砂公共物揚場(-3.5m),高砂本港区,東播磨港
2,1157,T85,717.701031,4.845361,97,セメント船,高砂公共岸壁(-5.5m),高砂本港区,東播磨港
3,1158,T97,502.000000,14.088889,45,曳船・押船,高砂西港公共岸壁(-5.5m),高砂西港区,東播磨港
4,1160,T84,731.000000,5.000000,1,砂利・砂・石材船,伊保公共物揚場(-3.5m),伊保港区,東播磨港
5,1182,T84,686.805556,4.222222,36,砂利・砂・石材船,曽根公共物揚場(-4.0m),曽根港区,東播磨港
6,1182,T97,2475.000000,5.000000,2,曳船・押船,曽根公共物揚場(-4.0m),曽根港区,東播磨港
7,1212,T71,508.500000,8.500000,2,一般貨物船,中島公共岸壁(-5.5m),飾磨港区,姫路港
8,1212,T85,748.333333,4.000000,3,セメント船,中島公共岸壁(-5.5m),飾磨港区,姫路港
9,1212,T85,748.628571,10.400000,35,セメント船,中島公共岸壁(-5.5m),飾磨港区,姫路港
10,1213,T85,712.460674,9.247191,89,セメント船,飾磨１号岸壁(-5.0m),飾磨港区,姫路港
11,1214,T71,3106.240741,5.833333,54,一般貨物船,飾磨２号岸壁(-7.5m),飾磨港区,姫路港
12,1215,T71,3403.571429,67.285714,7,一般貨物船,飾磨３号岸壁(-10m),飾磨港区,姫路港
13,1215,T71,3403.571429,67.285714,7,一般貨物船,飾磨４号岸壁(-10m),飾磨港区,姫路港
14,1215,T71,3403.571429,67.285714,7,一般貨物船,飾磨５〜６号岸壁(-10m),飾磨港区,姫路港
15,1215,T85,742.631579,14.298246,57,セメント船,飾磨３号岸壁(-10m),飾磨港区,姫路港
16,1215,T85,742.631579,14.298246,57,セメント船,飾磨４号岸壁(-10m),飾磨港区,姫路港
17,1215,T85,742.631579,14.298246,57,セメント船,飾磨５〜６号岸壁(-10m),飾磨港区,姫路港
18,1219,T71,4066.194030,38.679104,134,一般貨物船,飾磨７〜９号岸壁(-12m),飾磨港区,姫路港
19,1219,T71,8615.000000,52.000000,1,一般貨物船,飾磨７〜９号岸壁(-12m),飾磨港区,姫路港
20,1220,T71,976.309091,15.254545,55,一般貨物船,中島１〜２号岸壁(-7.5m),飾磨港区,姫路港
21,1221,T71,7137.857143,77.000000,77,一般貨物船,中島３〜４号岸壁(-12m),飾磨港区,姫路港
22,1231,T71,1004.740741,7.907407,54,一般貨物船,船場川１〜４号岸壁(-5.5m),飾磨港区,姫路港
23,1231,T85,1259.822785,36.493671,79,セメント船,船場川１〜４号岸壁(-5.5m),飾磨港区,姫路港
24,1231,T97,600.000000,2.000000,1,曳船・押船,船場川１〜４号岸壁(-5.5m),飾磨港区,姫路港
25,1232,T71,1702.631579,39.921053,76,一般貨物船,船場川５〜６号岸壁(-7.5m),飾磨港区,姫路港
26,1232,T71,1702.631579,39.921053,76,一般貨物船,船場川７〜１２号岸壁(-7.5m),飾磨港区,姫路港
27,1232,T85,2617.000000,19.000000,11,セメント船,船場川５〜６号岸壁(-7.5m),飾磨港区,姫路港
28,1232,T85,2617.000000,19.000000,11,セメント船,船場川７〜１２号岸壁(-7.5m),飾磨港区,姫路港
29,1250,T71,6720.466667,61.266667,15,一般貨物船,広畑３号岸壁(-14m),広畑港区,姫路港
30,1256,T71,601.774194,21.354839,31,一般貨物船,吉美３号岸壁(-7.5m),網干港区,姫路港
31,1259,T71,1499.000000,65.000000,1,一般貨物船,網干港区その他公共施設,網干港区,姫路港
32,1262,11,1030.363636,13.250000,44,その他の船舶,西部工業岸壁南(-10m),西部工業港区,姫路港
33,1262,T71,3475.636364,27.727273,11,一般貨物船,西部工業岸壁南(-10m),西部工業港区,姫路港
34,1262,T78,1988.333333,6.666667,3,プロダクトオイルタンカー,西部工業岸壁南(-10m),西部工業港区,姫路港
35,1262,T97,1245.666667,22.000000,3,曳船・押船,西部工業岸壁南(-10m),西部工業港区,姫路港
36,1264,11,843.333333,4.333333,3,その他の船舶,西部工業岸壁北（-7.5m）,西部工業港区,姫路港
37,1264,T78,1620.235294,4.705882,17,プロダクトオイルタンカー,西部工業岸壁北（-7.5m）,西部工業港区,姫路港
38,1281,T71,1152.375000,5.125000,8,一般貨物船,広畑１号岸壁(-7.5m),広畑港区,姫路港